/* Cover Page Section */
.home-cover {
    position: relative;
}

.cover-page-image {
    display: flex;
    width: 100%;
}

.cover-page-image img {
    width: 100%;
}

.cover-quote {
    background-color: hsla(0, 0%, 5%, 0.38);
    color: var(--light);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cover-quote h2{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 3.5rem;
}

.cover-quote p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2rem;
}

/* Welcome Section */
.welcome {
    background-color: var(--light);
    padding: 50px;
}

.welcome-container {
    width: 75%;
    margin: auto;
    padding: 20px;
    color: var(--tupe);
    text-align: center;
}

.welcome-container img {
    width: 30%;
}

.welcome-container h1{
    font-size: 3rem;
}

.welcome-container p {
    font-size: 1.5rem;
}

/* Expertise Section */

.expertise{
    width: 100%;
    background-color: var(--light);

}

.expertise h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--tupe);
    font-family: 'Playfair Display', serif;
}

.expertise-cards-container {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.expertise-cards {
    width: 30%;
    background-color: var(--tupe);
    color: var(--light);
    text-align: center;
    border-radius: 10px;
}

.expertise-cards img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.expertise-cards h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

.expertise-cards p {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    padding: 20px;
}

.learn-more-btn {
    width: 200px;
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
    padding: 5px;
    margin-bottom: 20px;
    background-color: var(--tupe);
    border: none;
    border-bottom: 1px solid var(--light);
    color: var(--light);
}

.learn-more-btn:hover {
    color: var(--dark);
    border-bottom: 1px solid var(--dark);
    cursor: pointer;
}

/* About the Therapist */
.about-therapist {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--light);
    padding: 50px 0px;
}

.about-therapist-content {
    width: 50%;
    height: 90%;
    text-align: center;
}

.about-therapist-content h2 {
    color: var(--tupe);
    font-size: 2.75rem;
    padding-bottom: 50px;
    font-family: 'Playfair Display', serif;
}

.about-therapist-content h3{
    font-size: 1.75rem;
    padding-bottom: 10px;
}

.about-therapist-content p{
    font-size: 1.5rem;
    padding-bottom: 10px;
    width: 70%;
    margin: auto;
}

.learn-more-btn-two {
    background-color: var(--light);
    width: 200px;
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid var(--dark);
    color: var(--dark);
}

.learn-more-btn-two:hover {
    color: var(--tupe);
    border-bottom: 1px solid var(--tupe);
    cursor: pointer;
}

.about-therapist-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.about-therapist-image img {
    width: 70%;
    outline: 3px solid black;
    outline-offset: -10px;
}

/* Process Section */
.home-process {
    background-color: var(--light);
}

.home-process h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.75rem;
    text-align: center;
    color: var(--tan2);
    padding: 20px 0;
}

.home-process-container {
    display: flex;
    justify-content: space-evenly;
}
.process-card {
    width: 30%;
    text-align: center;
    color: var(--tan2);
    font-family: sans-serif;
    margin-bottom: 20px;
}

.process-card img {
    width: 75%;
}

.process-card h3 {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    padding: 10px 0px;
}

.process-card p {
    font-size: 1.25rem;
    font-family: sans-serif;
    padding: 10px;
}

/* Testimonial section */

.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    padding: 50px 0px;
}

.testimonial-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.75rem;
    text-align: center;
    color: var(--tupe);
    padding: 20px 0;
}

@media screen and (max-width: 950px) {
    .welcome-container img {
        width: 60%;
    }

    .cover-quote h2{
        font-size: 2rem;
    }
    
    .cover-quote p {
        font-size: 1rem;
    }

    .expertise-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .expertise-cards {
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
    }

    .expertise-cards img {
        width: 40%;
        border-radius: 10px 0px 0px 10px;
    }

    .expertise-card-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

@media screen and (max-width: 750px) {

    .expertise-cards {
        width: 85%;
        flex-direction: column;
    }

    .expertise-cards img {
        width: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    .expertise-card-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .about-therapist {
        flex-direction: column-reverse;
    }

    .about-therapist-content {
        width: 80%;
    }

    .about-therapist-image {
        width: 80%;
        margin-bottom: 30px;
    }

    .about-therapist-image img {
        width: 100%;
    }

    .home-process-container {
        flex-direction: column;
        align-items: center;
    }

    .process-card {
        width: 70%;
    }

}

@media screen and (max-width: 560px) {
    .welcome-container img {
        width: 80%;
    }
    .cover-quote {
        position: static;
        background-color: hsla(0, 0%, 5%, 0.88);
    }
}